{% extends "base.html" %}
{% block body %}

<h1>Loot from the Aguafuego</h1>
<form action='' method="POST">
    {% csrf_token %}
    <ol>
        <li>First Preference: <select name="1" required>
            <option value=0 default>---</option>
            {% for item in loot %}
            <option value={{item.id}}>{{item}}</option>
            {% endfor %}</select></li> <textarea cols=140 rows=1 name="comment-1"></textarea>
        <li>Second Preference: <select name="2">
            <option value=0 default>---</option>
            {% for item in loot %}
            <option value={{item.id}}>{{item}}</option>
            {% endfor %}</select></li> <textarea cols=140 rows=1 name="comment-2"></textarea>
        <li>Third Preference: <select name="3">
            <option value=0 default>---</option>
            {% for item in loot %}
            <option value={{item.id}}>{{item}}</option>
            {% endfor %}</select></li> <textarea cols=140 rows=1 name="comment-3"></textarea>
        <p><label>Email addr:</label><input required name='email' type="text"></input></p>
        <p><input type="submit"></p>
</form>
{% endblock body %}
