<!DOCTYPE html>
<html>
    <head>
        <title>Adventure!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Shattered Lands D&D">
        <meta name="author" content="Jeremy Derr">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/loot.css" rel="stylesheet" media="screen">
    </head>
    <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Adventure!</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/loot/">Loot Elections</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Nothing</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="/admin/">Admin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



    <div class="container">
    {% block body %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Aguafuego Captured!</h1>
        <p>Are you due some of her loot? Stake your claim!</p>
        <p>
          <a class="btn btn-large btn-primary" href="/loot/">Click here &raquo;</a>

        </p>
      </div>

    {% endblock body %} 
    </div> <!-- /container -->

        
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/respond.js"></script>
    </body>
</html>
